# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Raw/intermediate data
data/raw/*
data/interim/*

# Keep empty folders visible in Git
!data/raw/.gitkeep
!data/interim/.gitkeep
data/processed/respiratory_forecasting_features.csv
outputs/predictions/baseline_predictions.csvoutputs/predictions/statistical_predictions.csv

# Generated model prediction files
outputs/predictions/*.csv
